@use "./variables";
@use "./mixins";

html,
body,
#root {
    width: 100%;
    min-height: 100%;
    margin: 0;
}

body {
    font-family:
        "Segoe UI",
        Arial,
        sans-serif;

    background-color: variables.$gray-100;
    color: variables.$gray-900;
}